/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* UTILS */

.debug,
.debug *{
    min-height: 50px;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.219);
    border: 1px dashed red;
}

/* .container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;

} */

/* .wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

/* .row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    margin-left: -1rem;
    margin-right: -1rem;
} */

/* [class*='col']{
    padding-left: 1rem;
    padding-right: 1rem;
} */

.col-1-2{
    width: calc(100% / 2);
}

.col-1-3{
    width: calc(100% / 3);
}

.col-1-4{
    width: calc(100% / 4);
}

.col-1-5{
    width: calc(100% / 5);
}

*{
    font-family: 'Helvetica Neue', sans-serif;
}

/* HEADER */

 header .container{
    text-align: center;
    background-color: white;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-family: 'Nerko One', cursive;
 }

 /* MAIN */

 main .row{
    display: flex;
    flex-direction: column;
 }

.dolce .container{
    padding: 0 1rem;
    max-width: 640px;
    background-color: lightgray;
}

 .dolce .categoria{
    padding-top: 1rem;
    padding-left: 1rem;
 }

 .dolce h2{
    margin-bottom: 1rem;
 }

 .dolce span{
    display: none;
 }

 .dolce h3{
    padding: 2rem 0;
    background-color: white;
    padding-left: 1rem;
 }

 .dolce .col .row{
    background-color: white;
    min-height: 329px;
    justify-content: space-around;
 }

 .dolce .row .col{
    padding-left: 1rem;
 }

 .dolce .row .col:last-child{
    margin-top: -5px;
 }

 @media screen and ( min-width: 1019px ) {

    .dolce .container{
        max-width: 1019px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dolce .row{
        max-width: 755px;
    }

}